@using Depot.UIL.Extensions

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
	<a asp-page="/Account/Password" asp-area="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<span class="fs-4">Profile</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a asp-page="/Account/Password" asp-area="" class="nav-link text-white @Html.ActiveClass("/Account/Password", "")" aria-current="page">
				Modifier le mot de passe
			</a>
		</li>
	</ul>
</div>