@page

@model Depot.UIL.Pages.Account.LoginModel
@{
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
  <div class="form-group">
    <label asp-for="Login.Email"> Email address </label>
    <input asp-for="Login.Email" type="email" class="form-control" placeholder="Enter email">
    <span asp-validation-for="Login.Email" class="text-danger" ></span>
  </div>
  <div class="form-group">
    <label asp-for="Login.Password"> Password </label>
    <input asp-for="Login.Password" type="password" class="form-control" placeholder="Password">
    <span asp-validation-for="Login.Password" class="text-danger"></span>
  </div>
  <div class="form-check">
    <input asp-for="Login.RememberMe" type="checkbox" class="form-check-input" >
    <label class="form-check-label" >Remember Me</label>
  </div>
  <div class="row">
      <div asp-validation-summary="All" class="text-danger"></div>
  </div>
  <button type="submit" asp- class="btn btn-primary">Se connecter</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}