@page
@model Api.Depot.UIL.Pages.Account.PasswordModel
@{
}

<div class="col-3">
	<partial name="_AccountNavigation" />
</div>

<div class="col-9">
	<h1>Mot de passe</h1>

	<span class="fs-4 text-center">@ViewData["Update"]</span>

	<form method="post">
		<input asp-for="Password.Id" type="text" hidden />
		<div class="form-group">
			<label asp-for="Password.OldPassword">Ancien mot de passe:</label>
			<input asp-for="Password.OldPassword" class="form-control" type="password" placeholder="Ancien mot de passe" />
			<span asp-validation-for="Password.OldPassword" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Password.NewPassword">Nouveau mot de passe:</label>
			<input asp-for="Password.NewPassword" class="form-control" type="password" placeholder="Nouveau mot de passe" />
			<span asp-validation-for="Password.NewPassword" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Password.NewPasswordConfirm">Confirmation du nouveau mot de passe:</label>
			<input asp-for="Password.NewPasswordConfirm" class="form-control" type="password"
				   placeholder="Confirmation du nouveau mot de passe" />
			<span asp-validation-for="Password.NewPasswordConfirm" class="text-danger"></span>
		</div>

		<div class="row">
			<button type="submit" class="btn btn-primary">Modifier</button>
		</div>
	</form>
</div>