@page
@model Api.Depot.UIL.Pages.Account.RegisterModel
@{
}

<h1>@ViewData["Inscription"]</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="RegForm.Email"> Email address </label>
		<input asp-for="RegForm.Email" type="email" class="form-control" placeholder="Entrez votre email">
		<span asp-validation-for="RegForm.Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="RegForm.Password"> Password </label>
		<input asp-for="RegForm.Password" type="password" class="form-control" placeholder="Choisissez un mot de passe">
		<span asp-validation-for="RegForm.Password" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="RegForm.ConfirmPassword"> Confirmer le mot de passe </label>
		<input asp-for="RegForm.ConfirmPassword" type="password" class="form-control" placeholder="Confirmez le mot de passe">
		<span asp-validation-for="RegForm.ConfirmPassword" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="RegForm.Firstname">Prénom</label>
		<input asp-for="RegForm.Firstname" class="form-control" placeholder="Entrez votre prénom" />
		<span asp-validation-for="RegForm.Firstname" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="RegForm.Lastname">Nom</label>
		<input asp-for="RegForm.Lastname" class="form-control" placeholder="Entrez votre nom" />
		<span asp-validation-for="RegForm.Lastname" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="RegForm.Birthdate">Date de naissance</label>
		<input asp-for="RegForm.Birthdate" type="date" id="birthDatepicker" class="form-control" placeholder="Choisissez votre date de naissance" />
		<span asp-validation-for="RegForm.Birthdate" class="text-danger"></span>
	</div>

	<div class="row">
		<div asp-validation-summary="All" class="text-danger"></div>
	</div>
	<button type="submit" class="btn btn-primary">S'enregistrer</button>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}