@page
@model Api.Depot.UIL.Areas.Teachers.Pages.CreateLessonModel
@{
}

<h1>Créer un cours</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="Lesson.Name">Titre</label>
		<input asp-for="Lesson.Name" type="text" class="form-control" placeholder="Titre du cours" />
		<span asp-validation-for="Lesson.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Lesson.Description"> Description </label>
		<input asp-for="Lesson.Description" type="text" height="250" class="form-control" placeholder="Description du cours">
		<span asp-validation-for="Lesson.Description" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Horaire de début</label>
		<input type="datetime-local" class="form-control" placeholder="Horaire début" />
		<label>Horaire de fin</label>
		<input type="datetime-local" class="form-control" placeholder="Horaire fin" />
	</div>

	<div class="form-group">
		<input asp-for="Lesson.UserId" type="text" hidden>
	</div>
	<div class="row">
		<div asp-validation-summary="All" class="text-danger"></div>
	</div>
	<button type="submit" class="btn btn-primary">Créer</button>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}