@page
@model Api.Depot.UIL.Areas.Teachers.Pages.DetailsModel
@{
}

<h1>@Model.Lesson.Name</h1>
<div class="row">
	<span class="fw-bold">@Model.Lesson.TeacherName</span>
	<span>@Model.Lesson.TeacherRegistrationNumber</span>
</div>

<div class="row">
	<span>Début</span>
</div>



<form method="post">
</form>
