@page
@model Api.Depot.UIL.Areas.Teachers.Pages.DetailsModel
@{
}

<h1>Nom du cours</h1>
<p>Description</p>
<span>horaire de début</span>
<form>
	<span>Horaire de fin</span>

	<div>
		Horaire journalier
	</div>
</form>
