@page
@model Api.Depot.UIL.Areas.Teachers.Pages.ScheduleModel
@{
}

<h1 class="text-center">Horaire</h1>

<div id="calendar">
</div>

	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				locale: 'fr'
			});
			calendar.render();
		});
	</script>
