@page
@model Api.Depot.UIL.Areas.Teachers.Pages.ScheduleModel
@{
}

<h1 class="text-center">Horaire</h1>

<div id="calendar">
</div>


<script>
	let calendar;

	document.addEventListener('DOMContentLoaded', function() {

		let events = [];

		$.ajax({
			url:""
		})

		var calendarEl = document.getElementById('calendar');
		calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
			locale: 'fr',
			selectable: true,
			events: 
		});
		calendar.render();
	});

</script>
