@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1>@HttpContext.User.Identity?.Name</h1>
	<h1 class="display-4">Bienvenu</h1>
	<p>
		Bienvenu sur le dépot de l'EICE. En tant qu'élève, vous pouvez directement pour parcourir la <a>liste</a> des cours qui
		pourraient vous intéressez. Si vous êtes un professeur, n'hésitez pas à <a>créer un cours</a> ou <a>gérer vos cours</a>
		déjà existant!
	</p>

	<p>
		Bon séjour sur le site !
	</p>
</div>
