@page
@model Api.Depot.UIL.Pages.LessonsModel
@{
}

<div class="container mt-3 mb-3">
	<h1 class="text-center">Cours disponible</h1>

	@{
		foreach (var lesson in Model.Lessons)
		{
			<div class="row" id="lesson_@lesson.Id">
				<h2>
					<a href="#" class="primary-link">@lesson.Name</a>
				</h2>
				<div class="d-inline-block mt-1 mb-1">
					<span class="fw-bold fs-5">Professeur : </span><span class="ms-1">Mr/Mme  @lesson.TeacherName</span>
				</div>
				<div class="d-inline-block mt-1 mb-1">
					<span class="fw-bold fs-5">Numéro de matricule :</span> <span class="ms-1">@lesson.TeacherRegistrationNumber</span>
				</div>
				<div class="row mt-1 mb-1">
					<span class="fw-bold fs-5">Description</span>
					<p>@lesson.Description</p>
				</div>
			</div>
			<hr />
		}
	}


</div>
