@page
@model Depot.UIL.Areas.Teachers.Pages.IndexModel
@{
}

<div class="container">
	@{
		foreach (var lesson in Model.Lessons)
		{
			<div class="row">
				<h2>
					<a asp-page="/Details" asp-area="Teachers" asp-route-id="@lesson.Id" class="primary-link">@lesson.Name</a>
				</h2>
				<p>@lesson.Description</p>
			</div>
			<hr />
		}
	}
</div>
